* {
  text-shadow: 2px 2px 2px #000000;
  color: #fff;
  font-weight: bold;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 90vw;
}

header nav h1 {
  text-align: start;
}

header nav h1 a {
  text-shadow: 2px 2px 2px #000000;
  color: #03a9f4;
  text-decoration: none;
}

header nav .search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

header nav .search-bar input {
  padding: 10px;
  outline: none;
  width: 70%;
  height: 50px;
  border: none;
  text-shadow: none;
  color: #847c7c;
}
header nav .search-bar input::placeholder {
  color: #847c7c;
  text-shadow: none;
}

header nav .search-bar button {
  height: 50px;
  background: #fff;
  outline: none;
  border: none;
}

header nav .search-bar button img {
  width: 45px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 97vw;
  margin: 0 auto;
}

main h1 {
  color: #ff5c20;
  text-shadow: 2px 2px 2px #000000;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
}

.heading-container {
  font-size: 20px;
}

.heading {
  border-bottom: 2px solid white;
}

.timing-container {
  font-size: 20px;
}

.timing {
  border-bottom: 2px solid white;
}
.countryAndCity {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  margin-top: 10px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 100;
  height: 100vh;
}

.img-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.blur {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #f1ede970;
}

.flag
{
  width:100px;
  margin-top:40px;
}

.footer {
  color: black;
  font-size: 12px;
  text-shadow: 1px 1px #887974;
  background-color: #607d8b;
  height: 20vh;
  padding: 15px;
  width: 100;
  margin: 0 auto;
}
.footer a {
  text-decoration: none;
}

.clock {
  position: absolute;
  top: 86%;
  left: 46%;
  transform: translateX(101%) translateY(100%);
  color: coral;
  font-family: Orbitron;
}

@media screen and (min-width: 780px) {
  .background {
    width: 100vw;
    height: 100%;
  }

  header nav .search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-left: 50px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
  }

  .clock {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(101%) translateY(-80%);
    font-size: 40px;
    letter-spacing: 7px;
  }
  main {
    margin-top: 40px;
  }

  .footer {
    font-size: 15px;
  }
}
